.container-historia {
    width: 80%;
    margin: 20px;
    padding: 30px 16px;
    text-align: center;
}

.letra-topo {
    font-size: medium;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.letra-historia {
    font-size: small;
    font-weight: 300;
    margin: 0 0 1.5rem 0;
}